div.background {
  background-color: rgba(0, 0, 0, 0.72);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100dvh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

div.card {
  background-color: #fff;
  width: 98%;
  max-width: 680px;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  border-radius: 0.8rem;
  padding: 1.2rem 0.8rem 0.8rem 0.8rem;
}

div.card h1 {
  font-size: clamp(1.4rem, 8vw, 2rem);
  color: #000;
}

div.card p {
  font-size: clamp(0.9rem, 4vw, 1.1rem);
}

div.card i {
  cursor: pointer;
}

div.dois {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.card button {
  color: #fff;
  font-size: clamp(0.9rem, 3vw, 1rem);
  cursor: pointer;
  padding: 0.5rem 0;
  border: none;
  border-radius: 1rem;
}

button.blue {
  background-color: rgb(20, 51, 228);
}

button.red {
  background-color: rgb(228, 44, 20);
}

div.card h2.preto, div.card h3.preto {
  color: #000;
  font-size: clamp(1.4rem, 8vw, 2rem);
  text-align: left;
  margin: 0;
}



div.card div.form {
  width: 100%;
}

div.card select {
  font-size: clamp(0.9rem, 4vw, 1.1rem);
  width: 100%;
  padding: 0.4rem 0;
}