* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url('../public/background.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100dvh;
}

button:hover {
  cursor: pointer;
}

header {
  background-color: #111;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.8rem 2rem;
}

header h1 {
  font-size: clamp(1.5rem, 11vw, 2.6rem);
}

header ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

header a {
  color: #fff;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 680px) {
  header {
    flex-direction: column;
  }

  header ul {
    gap: 1.4rem;
  }
}