section.secao-background {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

div.secao {
  width: 98%;
  max-width: 580px;
}

div.cabecalho-secao {
  background-color: #fff;
  border: 1px solid #fff;
  border-bottom: none;
  padding: 1.5rem 0;
}

div.cabecalho-secao h1 {
  font-size: clamp(1rem, 12vw, 2.5rem);
  text-align: center;
}

form.main-secao {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  
}

form.main-secao input {
  font-size: clamp(0.75rem, 3vw, 1rem);
  border: none;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  color: #fff;
  height: 2.5rem;
  background-color: rgba(0, 0, 0, 0.466);
  outline: none;
  padding: 0 0.8rem;
}

form.main-secao input::placeholder {
  color: #ffffffe5;
}

form.main-secao button {
  font-size: clamp(0.8rem, 6vw, 1.1rem);
  height: 2.8rem;
  background-color: #daac37;
  border: 1px solid #daac37;
  font-weight: bold;
  cursor: pointer;
}

div.footer-secao {
  padding: 0.5rem 0;
}

div.footer-secao p {
  font-size: clamp(0.85rem, 4vw, 1.1rem);
  color: #ffffff;
  text-align: center;
}

div.footer-secao a {
  color: #e2bc5c;
  text-decoration: none;
}

div.footer-secao a:hover {
  text-decoration: underline;
}