section.secao-background {
  padding: 1rem 0;
  width: 100%;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.secao {
  width: 98%;
  max-width: 520px;
}

div.cabecalho-secao {
  background-color: #38454D;
  color: #fff;
  padding: 1.4rem 0;
}

div.cabecalho-secao h1 {
  font-size: clamp(1rem, 10vw, 2.2rem);
  text-align: center;
}

form.main-secao {
  background-color: transparent;
  border: 1px solid #38454D;
  padding: 0.4rem 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

form.main-secao input {
  border: 1px solid #38454D;
  outline: none;
  border-left: none;
  border-right: none;
  height: 2.4rem;
  padding: 0.4rem;
}

form.main-secao input::placeholder {
  color: #38454D;
  font-size: clamp(0.8rem, 4vw, 1rem);
}

form.main-secao button {
  font-size: clamp(0.9rem, 3vw, 1rem);
  height: 2.2rem;
  border: none;
  color: #fff;
  background-color: #38454D;
  transition: all 0.3s;
}

form.main-secao button:hover {
 background-color: #48565E;
}

div.footer-secao {
  padding: 0.4rem 0;
}

div.footer-secao p {
  color: #ffffff;
  font-size: clamp(0.85rem, 4vw, 1rem);
  text-align: center;
}

div.footer-secao a {
  color: #ffffff;
  text-decoration: none;
}

div.footer-secao a:hover {
  text-decoration: underline;
}